services:
  wordpress:
    build:
      context: .
      args:
        ACF_PRO_KEY: ${ACF_PRO_KEY}
    entrypoint: ["/usr/local/bin/custom-entrypoint.sh"]
    ports:
      - "8080:8080"
    env_file:
      - .env
      - .env.local
    volumes:
      # Mount env files for entrypoint to read
      - ./.env:/var/www/html/.env.secrets:ro
      - ./.env.local:/var/www/html/.env:ro
      # Mount custom themes for live editing
      - ./wp-content/themes/ctf-landing-pages:/var/www/html/wp-content/themes/ctf-landing-pages
      # Mount custom plugins (not the entire plugins dir to allow ACF installation)
      - ./wp-content/plugins/amazon-s3-and-cloudfront-pro:/var/www/html/wp-content/plugins/amazon-s3-and-cloudfront-pro
      - ./wp-content/plugins/wp-petition-mailchimp:/var/www/html/wp-content/plugins/wp-petition-mailchimp
      # Mount mu-plugins
      - ./wp-content/mu-plugins:/var/www/html/wp-content/mu-plugins
    depends_on:
      - db

  db:
    image: mariadb:10.11
    restart: always
    environment:
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
      MYSQL_RANDOM_ROOT_PASSWORD: '1'
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:


